BR2T_BR_URL = https://github.com/angeloc/buildroot/archive
BR2T_VERSION := env-setup
BR2T_BR_FILE = $(BR2T_VERSION).tar.gz

BR2T_JLEVEL := 24
BR2T_DL_DIR=~/BR2_DL

BR2T_JLEVEL := $(shell nproc)

BR2T_NAME := br_template

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := acmesystems_arietta_g25_128mb_custom

# Leave empty if recovery is not needed
BR2T_RECOVERY_DEFCONFIG :=
